section.projects {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #0c0c0c,
    #151515,
    #0c0c0c,
    #000000
  );
  color: white;
  min-height: 120vh;
  padding-top: 10vh;
  padding-bottom: 20vh;

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  transition: ease-in 1s;
}

section.projects div.project {
  flex-basis: 26vw;
  margin: 5vh 0;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: rgb(0, 95, 0) solid 2px;
  border-radius: 5px;

  position: relative;
  overflow: hidden;

  transition: 0.4s;

  transform: translate(0, 100vh);
}

section.projects div.project div.info-to-show {
  display: none;
  width: 100%;
  height: 100%;
}

section.projects div.project button {
  display: none;
}

section.projects div.project.hidden {
  flex-basis: 0;
  height: 0;
  margin: 0;
  display: none;
}

section.projects div.project:hover {
  cursor: pointer;
}

section.projects div.project div.project-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2px;
  overflow: hidden;

  background-image: linear-gradient(to top, #000000, #000000, rgba(0, 0, 0, 0));
}
section.projects div.project div.project-footer p {
  flex-basis: 100%;
  flex-grow: 1;
  padding-left: 10px;
}

section.projects div.project div.project-footer img {
  height: 4vh;
  display: block;
  margin: 0 3px;
}

/* when diplaying one project */
section.projects div.project.show-project {
  flex-basis: 60vw;
  height: 70vh;
  background-color: #222 !important;
  background-image: none !important;
}
section.projects div.project.show-project div.info-to-show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

section.projects div.project.show-project div.info-to-show:hover {
  cursor: initial;
}

section.projects div.project.show-project div.info-to-show p {
  display: block;
  flex-basis: 50%;
  padding: 3vh 1vw;
  font-size: 1.5vw;
  border: 1px gray solid;
  overflow: hidden;
}
section.projects
  div.project.show-project
  div.info-to-show
  p:nth-last-of-type(1),
section.projects
  div.project.show-project
  div.info-to-show
  p:nth-last-of-type(2) {
  flex-basis: 100%;
}

section.projects div.project.show-project div.info-to-show a {
  padding-left: 1vw;
}

section.projects div.project.show-project button.close-project {
  display: block;
  color: white;
  background: none;
  font-size: 1.5vw;
  border: none;

  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 1;
}

section.projects div.project.show-project button:hover {
  cursor: pointer;
}

/* when hover on project */

/* flex-basis: 26vw;
  margin: 5vh 0;
  height: 30vh; */

section.projects div.project.hover-project {
  flex-basis: 35vw;
  margin: 0vh 0vw;
  height: 40vh;
}
section.projects div.project.hover-hide {
  flex-basis: 20vw;
  margin: 7.5vh 5vw;
  height: 25vh;
  filter: brightness(0.5);
}

section.projects div.project.hover-project button.show-more {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 60%;
  background: none;
  border: none;
  z-index: 2;
}

section.projects div.project.hover-project button.slide {
  display: block;
  border: none;
  font-size: 2.5vw;
  color: white;
  background: none;
  transition: 0.2s;

  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 20%;
  z-index: 2;
}

section.projects div.project.hover-project button.slide.left {
  text-align: left;
  padding-left: 2vw;
  left: 0;
}

section.projects div.project.hover-project button.slide.right {
  text-align: right;
  padding-right: 2vw;
  right: 0;
}

section.projects div.project.hover-project button:hover {
  cursor: pointer;
  font-size: 3.5vw;
}

section.projects div.project.hover-project button:focus {
  outline: 0;
}

@media (orientation: portrait) {
  section.projects {
    padding-bottom: 10vh;
  }

  section.projects div.project {
    flex-basis: 80vw;
    margin: 3vh 0;
    height: 30vh;
  }

  section.projects div.project.hover-project {
    flex-basis: 80vw;
    margin: 3vh 0;
    height: 30vh;
  }
  section.projects div.project.hover-hide {
    flex-basis: 80vw;
    margin: 3vh 0;
    height: 30vh;
    filter: none;
  }

  section.projects div.project.hover-project button.slide {
    display: block;
    border: none;
    font-size: 5vw;
    color: white;
    background: none;
    transition: 0.2s;

    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 20%;
    z-index: 2;
  }

  section.projects div.project.show-project button.close-project {
    font-size: 3vw;
  }

  section.projects div.project.show-project {
    flex-basis: 80vw;
    height: 80vh;
    background-color: #222 !important;
    background-image: none !important;
  }

  section.projects div.project.show-project div.info-to-show p {
    display: block;
    flex-basis: 100%;
    padding: 1vh 1vw;
    font-size: 2vh;
    border: 1px gray solid;
    overflow: hidden;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
}
