div.achievement {
    min-height: 15vh;
    background-color: #f3f1f1;
    color: #000;
    margin-bottom: 25vh;
    padding: 10px;
    border: black solid 2px;
    border-radius: 5px;
    transform: rotateX(90deg);
    transition: 0.4s;

    display: flex;
    flex-direction: row;
}

div.achievement.active {
    transform: rotateX(0deg);
}

div.achievement:last-child {
    margin-bottom: 5vh;
}

.achievement .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: auto;
}

.achievement .right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.achievement img {
    height: 5vh;
    margin-right: 5px;
}

.achievement div.right {
    padding: 0 5px;
}

.achievement .title {
    font-weight: 500;
    font-size: 1.4rem;
    height: 5vh;
    line-height: 5vh;
}

.achievement .description {
    font-weight: 300;
    text-align: justify;
}