.career {
    position: relative;
    z-index: -1;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #0c1015;
}

.career .left {
    flex-basis: 50%;
}

.career .right {
    flex-basis: 50%;
}

.separator {
    background-color: lime;
    width: 3px;
    opacity: 0.4;
}

.career .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.career .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.career .left .column {
    height: 100%;
    flex-basis: 75%;

    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 5vh;
}

.career .right .column {
    height: 100%;
    flex-basis: 75%;

    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 30vh;
}